body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
}

#user-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.user img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.user .info {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.user .info p {
  margin: 0;
  font-size: 14px;
}

.user .info p:first-of-type {
  font-weight: bold;
  font-size: 16px;
}
